footer {
    background-color: #25252D;
}


.footer {
    display: flex;
    justify-content: space-between;
    color: var(--colorblanco);
    padding: 4px 0;

    & .politica{
        display: flex;
        flex-direction: column;
        padding:45px;
        gap: 50px;

        & a {
            color: var(--colorblanco);
        }

        & a:hover {
            color: #0BD3FF;
        }
    }

    & .terminos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 50px;

        & a {
            color: var(--colorblanco);
        }

        & a:hover {
            color: #0BD3FF;
        }
    }

    & .contactos {
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
        gap: 10px;

        & a {
            color: var(--colorblanco);
        }

        & a:hover {
            color: #0BD3FF;
        }
    }

}